<script type="text/javascript">
    $(document).ready(function() {
        var tableData = $('td[data-length-of-tail]');
        var $evenRows = [];

        console.log(tableData);
        console.log("this is executing");

        tableData.each(function() {
            console.log("This is executing!")
            console.log($(this).data('length-of-tail'));
            if ($(this).data('length-of-tail') % 2 === 0) {
                $evenRows.push($(this).parent('tr'));
            }
        });
        $.each($evenRows, function () {
            $(this).hide();
        });
    });
</script>

<h1>Listing monkeys</h1>

<table>
  <tr>
    <th>Length of tail</th>
    <th>Name</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <% @monkeys.each do |monkey| %>
      <tr>
        <td data-length-of-tail=<%= monkey.length_of_tail %>><%= monkey.length_of_tail %></td>
        <td><%= monkey.name %></td>
        <td><%= monkey.description %></td>
        <td><%= link_to 'Show', monkey %></td>
        <td><%= link_to 'Edit', edit_monkey_path(monkey) %></td>
        <td><%= link_to 'Destroy', monkey, method: :delete, data: {confirm: 'Are you sure?'} %></td>
      </tr>
  <% end %>
</table>

<br/>

<%= link_to 'New Monkey', new_monkey_path %>
